.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.message {
  font-size: 20px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 16px;
}

.heading:not(:first-child) {
  margin-top: 48px;
}

.profile {
  line-height: 1.7;
}